// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

a > i.fa {
  color: $gray-dark;
}

.thumbnail {
  padding: 0;

  .intro {
    min-height: 12rem;
  }

  img {
    object-fit: cover;
    height: 25rem;
  }

  img[class] {
    width: 100%;
  }
}