// add bootstrap variable settings here

@import "theme/variables";
@import 'bootstrap';
@import 'theme/style';


// add more css stuff here

a > i.fa {
  color: $gray-dark;
}

.doc-card, .doc-row {
  padding: 0;

  img {
    object-fit: cover;
  }

  img[class] {
    width: 100%;
  }
}

.doc-card {
  img {
    height: 25rem;
  }
}

.doc-row {
  img {
    height: 10rem;
  }
}

.popular.opinion {
  min-height: 6.5rem;
  margin: 1rem;
}

.no-margin {
  margin: 0 !important;
}

.jumbotron .small, .jumbotron small,
.jumbotron .small p, .jumbotron small p {
  font-size: 1.5rem;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .doc-row {
    .doc-details {
      margin-top: 10px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .doc-card {
    .intro {
      min-height: 14rem;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}