// add bootstrap variable settings here

@import "theme/variables";
@import 'bootstrap';
@import 'theme/style';


// add more css stuff here

#show-more-btn {
  display: none;
}

.show-less {
  .document-content {
    // Arbitrary
    max-height: 2500px;
    overflow: hidden;
  }

  #show-more-btn {
    display: block;
  }
}

.opinion-form {
  p {
    padding-top: 1rem;
  }

  textarea {
    margin: 1rem 0;
  }
}

.opinion-form.opinion-form-closed {
  .show-open {
    display: none;
  }
  .show-closed {
    display: block;
  }
}

.opinion-form.opinion-form-open {
  .show-open {
    display: block;
  }
  .show-closed {
    display: none;
  }
}


.avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-right: 1rem;
}

a > i.fa {
  color: $gray-dark;
}

.doc-card, .doc-row {
  img {
    object-fit: cover;
    height: 20rem;
  }

  img[class] {
    width: 100%;
  }
}

.doc-row {
  margin-top: 2rem;
}

.no-margin {
  margin: 0 !important;
}

.jumbotron hr {
  border-top: 1px solid $gray-light;
}

.jumbotron .small, .jumbotron small,
.jumbotron .small p, .jumbotron small p {
  font-size: 1.5rem;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .doc-card {
    .intro {
      min-height: 14rem;
    }
  }

  .doc-row {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $gray-lighter;

    img {
      height: 8rem;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}