---
layout: settings-multi-col
title:  'Settings | Document'
header: 'Document Settings'
sidebar: "document-settings-sidebar.html"
breadcrumbs:
  - name: Account
    url: '/users/settings.html'
  - name: Sponsors
    url: '/users/sponsors/list.html'
  - name: City of Wichita
    url: '/users/sponsors/documents.html'
  - name: Documents
    url: '/users/sponsors/documents.html'
  - name: City of Wichita Open Data Policy
    url: '/users/sponsors/documents/settings.html'
  - name: Settings
---

<div class="col-md-6">
{% include document-form.html document=site.document%}
</div>
<div class="col-md-3">
{% include document-sidebar.html document=site.document %}
</div>