<div class="thumbnail doc-card">
  <img src="https://unsplash.it/600/200/?random" class="img-responsive" alt="Featured image">
  <div class="caption">
    <div class="intro">
      <h4>{{ site.document.title }}<br><small class="text-muted">Shared for feedback by {{ site.document.sponsor }}</small></h4>
      <p>{{ site.document.intro | truncatewords: 20  }}</p>
    </div>

    <div class="row">
      <div class="col-sm-4"><small class="text-muted">Jan 17, 2017</small></div>
      <div class="col-sm-8"><small class="text-muted">21 Comments</small></div>
    </div>

    <div class="row">
      <div class="col-md-12 text-right">
        <a class="btn btn-link btn-sm" href="{{ "/users/sponsors/documents/settings.html" | prepend: site.baseurl }}">Edit</a>
        <a href="{{ "/document.html" | prepend: site.baseurl }}" class="btn btn-default btn-sm" role="button">Read this document</a>
      </div>
    </div>
  </div>
</div>
