<div class="thumbnail">
  <img src="https://unsplash.it/600/200/?random" class="img-responsive" alt="Featured image">
  <div class="caption">
    <h4>{{ site.document.title }}</h4>
    <p>{{ site.document.intro | truncatewords: 20  }}</p>

    <div class="row text-center">
      <div class="col-xs-4"><small class="text-muted">{{ site.document.sponsor }}</small></div>
      <div class="col-xs-4"><small class="text-muted">Jan 17, 2017</small></div>
      <div class="col-xs-4"><small class="text-muted">21 Comments</small></div>
    </div>

    <br>
    <div class="text-right">
      <a class="btn btn-link btn-sm" href="{{ "/users/sponsors/documents/edit.html" | prepend: site.baseurl }}">Edit</a>
      <a href="#" class="btn btn-default btn-sm" role="button">Read this document</a>
    </div>
  </div>
</div>
