<div class="list-group">
  <a href="{{ "/users/sponsors/settings.html" | prepend: site.baseurl }}" class="list-group-item{% if page.path contains 'sponsors/settings' %} active{% endif %}"> Settings</a>
  <a href="{{ "/users/sponsors/members.html" | prepend: site.baseurl }}" class="list-group-item{% if page.path contains 'sponsors/members' %} active{% endif %}"> Members</a>
  <a href="{{ "/users/sponsors/documents.html" | prepend: site.baseurl }}" class="list-group-item{% if page.path contains 'sponsors/documents' %} active{% endif %}"> Documents</a>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h4><small>Need another sponsor?</small></h4>
    <p><small>It doesn't happen often, but some people need create more than one sponsor. Don't worry, the process is the same.</small></p>
    <a href="{{ "/users/sponsors/new.html" | prepend: site.baseurl }}" class="btn btn-default btn-xs">Create Another Sponsor</a>
  </div>
</div>