
<a href="{{ "/users/settings/account.html" | prepend: site.baseurl }}" class="list-group-item{% if include.active == 'account' %} active{% endif %}"> Account</a>
<a href="{{ "/users/settings/password.html" | prepend: site.baseurl }}" class="list-group-item{% if include.active == 'password' %} active{% endif %}"> Password</a>
<a href="{{ "/users/settings/notifications.html" | prepend: site.baseurl }}" class="list-group-item{% if include.active == 'notifications' %} active{% endif %}"> Notifications</a>
